.m-auto{
    margin: auto;
}
.circle{
    border-radius: 50%;
}
.fit{
    height: 100px;
    width: 100px;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.m-10-5{
    margin: 5px 10px;
}
.m-10-10{
    margin: 10px 10px;
}
.m-10{
    margin: 0 10px;
}
.pad-10{
    padding: 10px;
}
.col-red{
    color: red;
}
.b3d{
    box-shadow: -5px -5px 7px 0 #ececec,
    5px 5px 5px 0 #bdbdbd;
}
.p3d{
    box-shadow: 5px 5px 7px 0 #bdbdbd,
    -5px -5px 5px 0 #ececec,
    inset 5px 5px 7px 0 #bdbdbd,
    inset -5px -5px 5px 0 #ececec;
}
.b-round{
    border-radius: 20px;
}
.z-5{
    z-index: 5;
}
.z-1{
    z-index: 1;
}
.tline{
    text-decoration: underline;
}
.ldnone{
    list-style: none;
}
.gap-10{
    gap: 10px;
}
.flex-row{
    flex-direction: row;
}
.b3d2 {
    box-shadow: inset -5px -5px 7px 0 #ececec,
        inset 5px 5px 5px 0 #bdbdbd;
}
.fit2{
    height: 30px;
    width: 30px;
}
.mw-100{
    max-width: 100%;
}
.ml-600{
    margin-left: 600px;
}
.gap-20{
    gap: 20px;
}
.ml-300{
    margin-left: 300px;
}
.w-100{
    width: 100%;
}
.w-300{
    width: 500px;
}
.gap-30{
    gap:30px;
}
.m-2{
    margin: 2px;
}
.pad-5{
    padding: 5px;
}
.flex-row2{
    flex-direction: row;
}
.dinline{
    display: inline;
}
@media only screen and (max-width:920px) {
    .gap-30{
        gap: 5px;
    }
    .w-300{
        width: 310px;
    }
    .ml-300{
        margin-left: 60px;
    }
    .fit{
        height: 70px;
        width: 70px;
    }
    .flex-row{
        flex-direction: column;
    }
}
.b-none{
    border: none;
}
.bg-none{
    background: none;
}
al-center{
    align-items: center;
}
.jus-center{
    justify-content: center;
}
.w-500{
    width: 500px;
}
.w-50{
    width: 50px;
}
.bg-org{
    background: orange;
}
.t-center{
    text-align: center;
}
.sb-10{
    space-between: 10px;
}
.h-10{
    height: 10px;
}
.bg-grey{
    background: grey;
}
.fs-20{
    font-size: 20px;
}
.bg-red{
    background: red;
}
.bg-lgrn{
    background: limegreen;
}
.bg-blue{
    background: dodgerblue;
}
.bg-pink{
    background: deeppink;
}
